<select onchange={{action itemSelected value="target.value"}}>
  {{#each modelArr as |model|}}
    <option value={{model.id}} selected={{is-equal model.id default.id}}>
      {{model.name}}
    </option>
  {{/each}}
</select>
